:root {
  --text_color: #ccc;
  --code_background: #555;
  --code_color: #f0f0f0;
  --background_triple: 34, 34, 34;
  --background: rgb(var(--background_triple));
  --footer_color: rgba(204, 204, 204, 0.8);
  --logo_color: var(--text_color);
  --form_triple: 85, 85, 85;
  --form_color: rgb(var(--form_triple));
  --negative: rgb(255, 62, 62);
  --neutral: rgb(255, 165, 0);
  --positive: rgb(0, 165, 53);
  --unselected: #8b8b8b;
  --accent_triple: 0, 165, 53;
  --accent: rgb(var(--accent_triple));
  --theme_name: dark;
}

.color-positive {
  color: rgb(0, 165, 53);
  color: var(--positive);
}

.color-neutral {
  color: rgb(255, 165, 0);
  color: var(--neutral);
}

.color-negative {
  color: rgb(255, 62, 62);
  color: var(--negative);
}

.color-unselected {
  color: #8b8b8b;
  color: var(--unselected);
}
