:root {
  --background_triple: 255, 255, 255;
  --background: rgb(var(--background_triple));
  --code_color: #555;
  --code_background: #f0f0f0;
  --form_triple: 119, 119, 119;
  --form_color: rgb(var(--form_triple));
  --text_color: #222;
  --footer_color: rgba(33, 33, 33, 0.8);
  --logo_color: var(--text_color);
  --negative: rgb(255, 0, 0);
  --neutral: rgb(174, 85, 6);
  --positive: rgb(7, 92, 1);
  --unselected: #696969;
  --accent_triple: 7, 92, 1;
  --accent: rgb(var(--accent_triple));
  --theme_name: light;
}
