:root {
  --background_triple: 255, 255, 255;
  --background: rgb(var(--background_triple));
  --code_color: #555;
  --code_background: #f0f0f0;
  --form_triple: 119, 119, 119;
  --form_color: rgb(var(--form_triple));
  --text_color: #222;
  --footer_color: rgba(33, 33, 33, 0.8);
  --logo_color: var(--text_color);
  --negative: rgb(214, 0, 0);
  --neutral: rgb(174, 85, 6);
  --positive: rgb(7, 92, 1);
  --unselected: #696969;
  --accent_triple: 7, 92, 1;
  --accent: rgb(var(--accent_triple));
  --theme_name: cucb;
  --blue_gig: hsla(202.6, 100%, 50%, 0.57);
  --kit_hire: hsl(281.4, 81.4%, 38%);
}

.tippy-box[data-theme~="cucb"] {
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
}

.color-positive {
  color: rgb(7, 92, 1);
  color: var(--positive);
}

.color-neutral {
  color: rgb(174, 85, 6);
  color: var(--neutral);
}

.color-negative {
  color: rgb(255, 0, 0);
  color: var(--negative);
}

.color-unselected {
  color: #696969;
  color: var(--unselected);
}
