.DS_Store
.svelte
build
**/node_modules/
yarn-error.log
/cypress/screenshots/
/cypress/downloads/
/cypress/videos/
/cypress/fixtures/example.json
*.local
db_restore
# .gitignore is really annoyingly painful with this: https://stackoverflow.com/a/14731573
images/users/*
!images/users/none.jpg
.svelte-kit
docs/