{
  "svelteSortOrder" : "scripts-styles-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "tabWidth": 2,
  "trailingComma":  "all",
  "printWidth": 120
}