# Uncomment when ready to LetsEncrypt (#73)
# NB this domain may change to the real one before then
#dev.cucb.co.uk {
#    tls {
#        dns cloudflare
#    }
#
#    proxy /v1/graphql graphql-engine:8080
#
#    proxy / sapper:3000
#
#    gzip {
#        # disable gzip for auth API since fetch doesn't like it
#        not /auth
#    }
#}

0.0.0.0:80 {
    proxy /v1/graphql graphql-engine:8080

    proxy / sapper:3000

    gzip {
        # disable gzip for auth API since fetch doesn't like it
        not /auth
    }
}
