dev.cucb.co.uk:443 {
    tls /root/.caddy/certs/dev.cucb.co.uk.crt /root/.caddy/certs/dev.cucb.co.uk.key
    reverse_proxy /v1/graphql graphql-engine:8080

    root /* /srv
    file_server /images/committee/*
    file_server /static/*

    reverse_proxy /* sapper:3000
    
    @notAuth {
        not path /auth/*
    }

    # disable gzip for auth API since fetch doesn't like it
    encode @notAuth gzip
}
