body {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
  font-family: var(--text);
  line-height: 1.5;
  color: var(--text_color);
  background: var(--background);
  -webkit-tap-highlight-color: rgba(var(--form_triple), 0.3);
}

@media (pointer: none), (pointer: coarse) {
  a:active {
    background: rgba(var(--form_triple), 0.3);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
th,
.heading-font {
  font-family: "Linux Biolinum Regular", "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
    Cantarell, Helvetica Neue, sans-serif;
  font-family: var(--title), var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

a,
.link {
  color: rgb(7, 92, 1);
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
  cursor: pointer;
}

@supports (text-underline-offset: 0.25em) {
  a,
  .link {
    border-bottom: none;
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

a:hover,
.link:hover {
  filter: brightness(150%);
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: var(--code_color);
  background-color: var(--code_background);
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  ul {
    padding-left: 20px;
  }

  blockquote {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 16px;
  }
}

nav a {
  border-bottom: none;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > * {
  margin: 5px 0;
}

label {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
  appearance: none;
  height: 34px;
  margin-top: 5px;
  border: 1px solid var(--form_color);
  border-radius: 0;
  transition: outline 0.2s;
  padding-left: 10px;
  transition: box-shadow 125ms ease-in-out;
  box-shadow: none;
  color: var(--text_color);
  background: var(--background);
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
button:focus,
input[type="submit"]:focus {
  border-color: var(--accent);
  box-shadow: 0px 0px 4px 1px var(--accent);
  outline: 0;
}

textarea {
  resize: none;
  height: unset;
  padding: 5px;
}

button,
input[type="submit"] {
  color: var(--text_color);
  background: var(--background);
  padding: 0 10px;
  height: 34px;
  border-radius: 0.25em;
  border: 1px solid var(--form_color);
  cursor: pointer;
  font-family: var(--text);
  font-size: 1em;
}

button:active,
input[type="submit"]:active {
  outline: 0;
}

.tippy-box[data-theme~="cucb"] {
  color: var(--text_color);
  background-color: var(--background);
}
.tippy-box[data-theme~="cucb"][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: var(--background);
}
.tippy-box[data-theme~="cucb"][data-placement^="bottom"] > .tippy-arrow:before {
  border-bottom-color: var(--background);
}
.tippy-box[data-theme~="cucb"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: var(--background);
}
.tippy-box[data-theme~="cucb"][data-placement^="right"] > .tippy-arrow:before {
  border-right-color: var(--background);
}
.tippy-box[data-theme~="cucb"] > .tippy-backdrop {
  background-color: var(--background);
}
.tippy-box[data-theme~="cucb"] > .tippy-svg-arrow {
  fill: var(--background);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: 0ms !important;
    animation-duration: 1ms !important;
  }
}
