body {
  margin: 0;
  font-size: 14px;
  font-family: var(--text);
  line-height: 1.5;
  color: var(--text_color);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: var(--title), var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  filter: brightness(150%);
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: var(--code_color);
  background-color: var(--code_background);
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  ul {
    padding-left: 20px;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 16px;
  }
}
